
*,
*::before
*::after{
	box-sizing: border-box;
}
:root{
	--ff-primary: 'Source San Pro',sans-serif;
	--ff-secondary:'Source Code Pro', monospace;	
	
	--fw-reg: 300;
	--fw-bold: 900;
	
	--clr-light:#fff;
	--clr-dark:#303030;
	--clr-accent: #16e0bd;
	
	--fs-h1:3rem;
	--fs-h2:2,25rem;
	--fs-h3:1,25rem;
	--fs-body:1rem;

	--bs: 0.25em 0.25em 0.75em rbga(0,0,0,.25),
	      0.125em 0.125em 0.25em rgba(0,0,0,.15);
}
@media (min-wildth: 800px){
	:root{
		--fs-h1: 4.5rem;
		--fs-h2: 3,75rem;
		--fs-h3: 1,5rem;
		--fs-body: 1.125rem;
	}
}
/*General styles*/
html{
	scroll-behavior: smooth;
}


body{
	background: var(--clr-light);
	color: var(--clr-dark);
	margin: 0;
	font-family: var(--ff-primary);
	font-size:var(--fs--body);
	line-height: 1.6;
}
section{
	padding: 5em 2em;
}
img{
	display: block;
	max-width: 100%;
}
strong{font-weight: var(--fw-bold);}

:focus{
	outline: 3px solid var(--clr-accent);
	outline-offset: 3px;
}
/*buttons*/
.btn{
display: inline-block;
padding: .5em 2.5em;
background: var(--clr-accent);
 text-decoration: none;
 cursor: pointer;
 font-size: .8rem;
 text-transform: uppercase;
 letter-spacing: 2px;
 font-weight: var(--fw-bold);
 transition: tranfrom 200ms ease-in-out;
}

.btn:hover{
	transform: scale(1.1);
	display: inline-block;
		color: #343434;
		transition: color 250ms, text-shadow 250ms;
		text-decoration: none;
		text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
		
		position: relative;
		z-index: 0;
		color: white;
			text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
}
.btn::after{position: absolute;
	z-index: -1;
	bottom: -5px;
	left: 50%;
	transform: translateX(-50%);
	content: '';
	width: 100%;
	height: 3px;
	background-color:var(--clr-light);
	transition: all 250ms;
height: 105%;
				width: 105%;
}
/*Typography*/
h1,
h2,
h3{
	line-height: 1.1;
	margin: 0;
}
h1{font-size: var(--fs-h1)}
h2{font-size: var(--fs-h2)}
h3{font-size: var(--fs-h3)}
.section--title{
margin-bottom: .25em;
}
.section--subtitle__intro{
	font-weight: var(--fw-reg);
}
.section--subtitle{
	margin: 0;
	font-size: var(--fs-h3);
}
.section--subtitle__intro strong{
	display: block;
}
.section--subtitle__intro,
.section--subtitle__achivement{
	background: var(--clr-accent);
	padding: .25em 1em;
	font-family: var(--ff-secondary);
	margin-bottom: 1em;
}

/*header*/
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: var(--clr-accent);
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
  max-width: 100px;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
@media (max-width:800px){
	nav li{
		margin-left: 20px;
		padding-top: 30px ;
		position: relative;
	}
}


/*Intro section*/
 .intro{
	 position: relative;
 } 

 .into--img{
	 box-shadow: var(--bs);
 }
 .section--subtitle__intro{
	 display: inline-block;

 }
@media (min-width: 600px) {
	.intro{
		display: grid;
		width: min-content;
		margin: 0 auto;
		grid-column-gap: 1em;
		grid-template-areas: 
		"img title"
		"img subtitle";
		grid-template-columns: min-content max-content;
	}
.intro--img{
	grid-area: img;
	min-width: 250px;
	position: relative;
	z-index: 2;
}
.section--subtitle__intro{
	align-self: start;
	grid-column: -1 / 1;
	grid-row: 2;
	text-align: right;
	position: relative;
	left: -1,5em;
	width: calc(100% +1,5em);

}
}


/*About me section*/
.about--me{
	background-color: var(--clr-dark);
	background-image: url();
	background-size: cover;
	background-blend-mode: multiply;
	color: var(--clr-light);
    text-align: center;
}
.description{
	color: #53c83c;
	font-family: var(--ff-secondary);
	font-size: var(--fs-h2);
}
.section--title__aboutme{
	color: var(--clr-accent);
	position: relative;
}

.section--title__aboutme::after{
content: '';
display: block;
width: 25%;
height: 1px;
margin: 0,5em auto 1em;
background:var(--clr-light);
opacity: 0,25;
}

.aboutmes{
	margin-bottom: 4em;
}
.aboutme{
	max-width: 500px;
	margin: 0 auto;

}
@media (min-width:800px){
	.aboutmes{
		display: flex;
		max-width: 1000px;
		margin-left:  auto;
		margin-right: auto;
}
.aboutme + .aboutmes{
	margin-left: 2em;

}
}

.achivement{
	max-width: 1000px;
	margin: 0 auto;
	}
.achivement__img{
	box-shadow: var(--bs);
}
@media (min-width:600px){
		.achivement{
			display: grid;
			grid-template-columns: 1fr 200px;
			grid-template-areas: 
			"title img"
			"subtitle img"
			"text img";
			grid-column-gap: 2em;
		}
		.section--subtitle__achivement{
			grid-area: title;

		}
		.section--subtitle__achivement{
			grid-column: 1 /-1;
			grid-row: 2;
			position: relative;
			left: -1em;
			width: calc(100% + 2em);
			padding-left: 1em;
			padding-right: calc(200px + 4em);
		}
		.achivement__img{
			grid-area: img;
			position: relative;
		}
	}



	/*contract section*/
	body {
	margin:  0;
}
.page-content {
	width: 100%;
	margin:  0 auto;
	background: #31aee7;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-o-justify-content: center;
	-ms-justify-content: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
}
.form-v4-content  {
	background: #fff;
	width: 850px;
	border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	margin: 175px 0;
	position: relative;
	display: flex;
	display: -webkit-flex;
	font-family: 'Open Sans', sans-serif;
}
.form-v4-content h2 {
	font-weight: 700;
	font-size: 30px;
	padding: 6px 0 0;
	margin-bottom: 34px;
}
.form-v4-content .form-left {
	background: #31aee7;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	padding: 20px 40px;
	position: relative;
	width: 100%;
	color: #fff;
}
.form-v4-content .form-left p {
	font-size: 15px;
	font-weight: 300;
	line-height: 1.5;
}
.form-v4-content .form-left span {
	font-weight: 700;
}
.form-v4-content .form-left .text-2 {
	margin: 20px 0 25px;
}
.form-v4-content .form-left .account {
	background: #fff;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 180px;
	border: none;
	margin: 15px 0 50px 0px;
	cursor: pointer;
	color: #333;
	font-weight: 700;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	appearance: unset;
    -moz-appearance: unset;
    -webkit-appearance: unset;
    -o-appearance: unset;
    -ms-appearance: unset;
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    -o-outline: none;
    -ms-outline: none;
}
.form-v4-content .form-left .account:hover {
	background: #e5e5e5;
}
.form-v4-content .form-left .form-left-last input {
	padding: 15px;
}
.form-v4-content .form-detail {
    padding: 20px 40px;
	position: relative;
	width: 100%;
}
.form-v4-content .form-detail h2 {
	color: #31aee7;
}
.form-v4-content .form-detail .form-group {
	display: flex;
	display: -webkit-flex;
	margin:  0 -8px;
}
.form-v4-content .form-detail .form-row {
	width: 100%;
	position: relative;
}
.form-v4-content .form-detail .form-group .form-row.form-row-1 {
	width: 50%;
	padding: 0 8px;
}
.form-v4-content .form-detail label {
	font-weight: 600;
	font-size: 15px;
	color: #666;
	display: block;
	margin-bottom: 8px;
}
.form-v4-content .form-detail .form-row label#valid {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #53c83c;
}
.form-v4-content .form-detail .form-row label#valid::after {
	content: "";
    position: absolute;
    left: 5px;
    top: 1px;
    width: 3px;
    height: 8px;
    border: 1px solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
.form-v4-content .form-detail .form-row label.error {
	padding-left: 0;
	margin-left: 0;
    display: block;
    position: absolute;
    bottom: -5px;
    width: 100%;
    background: none;
    color: red;
}
.form-v4-content .form-detail .form-row label.error::after {
    content: "\f343";
    font-family: "LineAwesome";
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    right: 10px;
    top: -31px;
    color: red;
    font-size: 18px;
    font-weight: 900;
}
.form-v4-content .form-detail .input-text {
	margin-bottom: 27px;
}
.form-v4-content .form-detail input {
	width: 100%;
    padding: 11.5px 15px;
    border: 1px solid #e5e5e5;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    appearance: unset;
    -moz-appearance: unset;
    -webkit-appearance: unset;
    -o-appearance: unset;
    -ms-appearance: unset;
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    -o-outline: none;
    -ms-outline: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #333;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
.form-v4-content .form-detail .form-row input:focus {
	border: 1px solid #53c83c;
}
.form-v4-content .form-detail .form-checkbox {
	margin-top: 1px;
	position: relative;
}
.form-v4-content .form-detail .form-checkbox input {
	position: absolute;
    opacity: 0;
}
.form-v4-content .form-detail .form-checkbox .checkmark {
	position: absolute;
    top: 13px;
    left: 0;
    height: 15px;
    width: 15px;
    border: 1px solid #ccc;
    cursor: pointer;
}
.form-v4-content .form-detail .form-checkbox .checkmark::after {
	content: "";
    position: absolute;
    left: 5px;
   	top: 1px;
    width: 3px;
    height: 8px;
    border: 1px solid #3786bd;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    display: none;
}
.form-v4-content .form-detail .form-checkbox input:checked ~ .checkmark::after {
    display: block;
}
.form-v4-content .form-detail .form-checkbox p {
    margin-left: 34px;
    color: #333;
    font-size: 14px;
    font-weight: 600;
}
.form-v4-content .form-detail .form-checkbox .text {
	font-weight: 700;
	color: #31aee7;
	text-decoration: underline;
}
.form-v4-content .form-detail .register {
	background: #31aee7;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 130px;
	border: none;
	margin: 6px 0 50px 0px;
	cursor: pointer;
	color: #fff;
	font-weight: 700;
	font-size: 15px;
}
.form-v4-content .form-detail .register:hover {
	background: #2f73a3;
}
.form-v4-content .form-detail .form-row-last input {
	padding: 12.5px;
}

@media screen and (max-width: 991px) {
	.form-v4-content {
		margin: 180px 20px;
		flex-direction:  column;
		-o-flex-direction:  column;
		-ms-flex-direction:  column;
		-moz-flex-direction:  column;
		-webkit-flex-direction:  column;
	}
	.form-v4-content .form-left {
		width: auto;
		border-top-right-radius: 10px;
		border-bottom-left-radius: 0;
	}
	.form-v4-content .form-detail {
		padding: 30px 20px 30px 20px;
	    width: auto;
	}
}
@media screen and (max-width: 575px) {
	.form-v4-content .form-detail .form-group {
		flex-direction: column;
		-o-flex-direction:  column;
		-ms-flex-direction:  column;
		-moz-flex-direction:  column;
		-webkit-flex-direction:  column;
		margin: 0;
	}
	.form-v4-content .form-detail .form-group .form-row.form-row-1 {
		width: 100%;
		padding:  0;
	}
}

	/*footer*/

	.footer{
		background: #111;
		color: var(--clr-accent);
		text-align: center;
		padding: 2,5em 0;
        font-size: var(--fs-h3);
	}
	.footer a {
		color: inherit;
	    text-decoration: none;
	}
.footer--link{
	font-weight: var(--fw-bold);
}
	.footer--link:hover,
	.soical--list__link:hover{
		opacity: .7;
	}
.footer--link:hover{
	text-decoration: underline;
}
.soical-list{
	list-style: none;
	display: flex;
	justify-content: center;
	margin: 2em 0 0;
	padding: 0;
}
.soical--list__item{
	margin: 0 .5em;
}
.soical--list__link{
	padding: .5em;
}