* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --secondary-color: #151226;
    --contrast-color: #BF307F;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: -10;
    background-color: var(--contrast-color);
  }
  
  .container {
    display: flex;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    animation: expand .8s ease forwards;
    background-color: var(--secondary-color);
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all .8s ease;
  }
  
  .container_content {
   width: 50%;
  }
  
  .container_content_inner {
    width: 80%;
    margin-left: 80px;
  }
  
  .container_outer_img {
    margin: 50px;
    width: 50%;
    overflow: hidden;
  }   
      
  .container_img {
    width: 100%;
    animation: slideIn 1.5s ease-in-out forwards;
  }
  
  .par {
    height: auto;
    overflow: hidden;
  }
  
  p{
    line-height: 28px;
    transform: translateY(300px);
    animation: slideUp .8s ease-in-out forwards .8s;
  }
  
  .btns {
    height: 100%;
    position: relative;
    width: 150px;
    overflow: hidden;
  }
  
  .btns_more {
    background: transparent;
    border: 1px solid var(--contrast-color);
    border-radius: 50px;
    padding: 8px 12px;
    color: #BF307F;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    margin-top: 15px;
    outline: none;
    transform: translateY(50px);
    animation: slideUp .8s ease-in-out  forwards 1s;
  }
  
  .title {
    overflow: hidden;
    height: auto;
  }
  
  h1 {
      font-size: 40px;
      color: var(--contrast-color);
      margin-bottom: 20px;
      transform: translateY(100px);
      animation: slideUp .8s ease forwards .5s;
  }
  
  @keyframes slideIn {
    0% {
      transform: translateX(500px) scale(.2);
    }
    100% {
      transform: translateX(0px) scale(1);
    }
  }
  
  @keyframes slideUp {
    0% {
      transform: translateY(300px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  
  @keyframes expand {
    0% {
      transform: translateX(1400px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  h1{
   color: #484848;
   font-size: 50px;
   font-weight: bold;
   font-family: monospace;
   letter-spacing: 7px;
   cursor: pointer
 }
 h1 span{
   transition: .5s linear
 }
 h1:hover span:nth-child(1){
   margin-right: 5px
 }
 h1:hover span:nth-child(1):after{
   content: "";
 }
 h1:hover span:nth-child(2){
   margin-left: 30px
 }
 h1:hover span{
   color: #fff;
   text-shadow: 0 0 10px #fff,
                0 0 20px #fff, 
                0 0 40px #fff;
 }
 .par{
   animation: glitch 1s linear infinite;
 }
 
 @keyframes glitch{
   2%,64%{
     transform: translate(2px,0) skew(0deg);
   }
   4%,60%{
     transform: translate(-2px,0) skew(0deg);
   }
   62%{
     transform: translate(0,0) skew(5deg); 
   }
 }
 
 .par:before,
.par:after{
   content: attr(title);
   position: absolute;
   left: 0;
 }
 
 .par:before{
   animation: glitchTop 1s linear infinite;
   clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
   -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
 }
 
 @keyframes glitchTop{
   2%,64%{
     transform: translate(2px,-2px);
   }
   4%,60%{
     transform: translate(-2px,2px);
   }
   62%{
     transform: translate(13px,-1px) skew(-13deg); 
   }
 }
 
 .par:after{
   animation: glitchBotom 1.5s linear infinite;
   clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
   -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
 }
 
 @keyframes glitchBotom{
   2%,64%{
     transform: translate(-2px,0);
   }
   4%,60%{
     transform: translate(-2px,0);
   }
   62%{
     transform: translate(-22px,5px) skew(21deg); 
   }
 }